@font-face {
    font-family: 'KelsonSansBGRegular';
    src: url('fonts/KelsonSansBG-Normal.eot') format('embedded-opentype');
    src: url('fonts/KelsonSansBG-Normal.otf'),
         url('fonts/KelsonSansBG-Normal.woff') format('woff'),
         url('fonts/KelsonSansBG-Normal.ttf') format('truetype');
        }


  



